@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lobster&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

html {
    scroll-behavior: smooth;
}

body {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Inter", sans-serif !important;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.527) !important;
    font-weight: normal;
    font-style: normal;
    color: #888;
    font-size: 15px;

}

.yt_logo {
    width: 10%;
}

.load {
    position: absolute;
    top: 50%;
    width: 100%;
    margin: auto;
}

.hidden {
    display: none !important;
}


.bodyclass {

    /* background: #9D50BB !important;
    /* fallback for old browsers */
    /* background: -webkit-linear-gradient(to right, #6E48AA, #9D50BB) !important; */
    /* Chrome 10-25, Safari 5.1-6 */
    /* background: linear-gradient(to right, #6E48AA, #9D50BB) !important;
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-color: #cd99fe !important;
    border-color: #cd99fe !important;


}


.grddient {
    background: -webkit-linear-gradient(left, #00000050 100%, #0000004f 0%, #00000000 0%);
}

.ytclass {
    background-color: #f85032;
    /* fallback for old browsers */
    background-color: -webkit-linear-gradient(to right, #e73827, #f85032);
    /* Chrome 10-25, Safari 5.1-6 */
    background-color: linear-gradient(to right, #e73827, #f85032);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.ytdown {
    background-color: #f79d00;
    /* fallback for old browsers */
    background-color: -webkit-linear-gradient(to right, #64f38c, #f79d00);
    /* Chrome 10-25, Safari 5.1-6 */
    background-color: linear-gradient(to right, #64f38c, #f79d00);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.yt_body {
    background-color: #F00000;
    /* fallback for old browsers */
    background-color: -webkit-linear-gradient(to right, #DC281E, #F00000);
    /* Chrome 10-25, Safari 5.1-6 */
    background-color: linear-gradient(to right, #DC281E, #F00000);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.ytmdowns {
    background-color: #6a3093;
    /* fallback for old browsers */
    background-color: -webkit-linear-gradient(to right, #a044ff, #6a3093);
    /* Chrome 10-25, Safari 5.1-6 */
    background-color: linear-gradient(to right, #a044ff, #6a3093);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.twi_body {
    background-color: rgb(26, 152, 229);
}

.fb_body {
    background-color: rgb(17, 150, 245);
}

.bg-light {
    --bs-bg-opacity: 0 !important;
}

.navbar-brand {
    color: white !important;
    font-size: 2rem !important;
    font-family: "Inter",
        sans-serif !important;
    margin-left: 3rem;
}

.navbar-collapse {
    margin-left: 2rem;
}

.nav-link {
    color: white !important;
    font-size: 1.2rem !important;
    font-family: "Inter",
        sans-serif !important;
}

.yt_main {
    width: 60%;
    margin: 4rem auto;
}


.div_main {

    height: 100%;
    margin: 0px auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: right !important;
    overflow: hidden;
}

.div_sub {
    height: 100%;
    width: 46%;
    margin: 0px auto;
    flex: 46%;
    margin: 20px;


}

.svg {
    width: 46%;
    flex: 46%;
    margin-left: 10px;
    text-align: center;
    margin-bottom: 3rem;

}

svg {
    height: 90%;
    width: 90%;
}

.main_p {
    font-size: 2rem !important;
    color: white;
    padding: 3rem;
    text-align: left !important;

}

.admin_main {
    width: 85%;
    margin: 4px auto;

}

.admin_tab {
    width: 100%;

    overflow: scroll;
}



.maindown {
    width: 75%;
    margin: 4px auto;
    border-color: #ffffff00;
    background: #ffffff1f;
    box-shadow: 1px 1px 12px rgb(30 24 24);

    padding: 1rem;
}

.img {
    width: 100%;
    text-align: center;
}

.length {
    margin-top: 1rem;
}

.table {
    margin-top: 1rem !important;
}

img {
    width: 40%;
    margin: 1rem auto;
}

#button-addon2 {

    background-color: aliceblue !important;
    width: 25%;
    color: #e73827;
}

.ytdowns {
    background: #56ab2f !important;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #a8e063, #56ab2f) !important;
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #a8e063, #56ab2f) !important;
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


}

.down {
    border: 2px solid rebeccapurple;
    border-radius: 5px;
    padding: 1rem;
    margin: 2rem auto;
    background: -webkit-gradient(linear, left top, right top, from(#38d39f), to(#38a4d3));
    background: linear-gradient(left, #38d39f, #38a4d3);
    color: white;
    font-size: 1.2rem;
    text-align: center;
}

a:link {
    text-decoration: none;
}


p {
    text-align: center;
}

.yt_p {
    font-family: 'Lobster',
        cursive;
    font-size: 4rem;
    margin-bottom: 2rem;
    color: #fff;
    text-shadow: 0px 3px 8px #00000017;
    text-transform: capitalize;
}

.link {
    width: 60%;
    margin: 2rem auto;
    text-align: center;
}

.ytmaindown {
    text-align: center;
}

.main_message {
    position: absolute;
    width: 100%;
    z-index: 4;
}

.warning_main {
    position: relative;

    color: rgb(224, 11, 11);
    width: 25%;
    margin: auto;
    top: 150px;
    padding: 3rem 2rem;
    border-radius: 8px;
    text-align: center;
    border-width: 2px;
    border-color: #3c383f;
    border-style: solid;
    box-shadow: 1px 1px 12px rgb(30 24 24);
    background: rgba(238, 235, 241, 0.966);



}

.cros {
    position: absolute;
    top: 10px;
    right: 10px;
    border: 3px;
    border-style: solid;
    border-color: #3b3636;
    padding: 5px 10px;
    border-radius: 8px;
    background: rgb(239, 236, 241);

}

.cros:hover {
    background: rgb(58, 56, 59);
    color: white;
}

.warning_message {
    position: relative;
    font-size: 1.5rem;
    margin: 1rem;

}

.hidden_message {
    display: none;
}


.table_div {
    margin-bottom: 2rem;
}

table {
    border-color: #ffffff00 !important;
    background: #ffffff1f !important;
    text-align: center !important;
}

@media only screen and (max-width: 600px) {
    .yt_main {
        width: 85%;
        margin: 3rem auto;
    }

    .maindown {
        width: 90%;
        margin-bottom: 2rem;
    }

    .img {
        width: 100%;
        text-align: center;
    }

    .length {
        margin-top: 1rem;
    }

    .table {
        margin-top: 1rem !important;
    }

    img {
        width: 80%;
        margin: 1rem auto;
    }

    .yt_p {
        font-family: 'Lobster', cursive;
        font-size: 2.5rem;
        margin-bottom: 3rem;
        color: white;
    }

    .warning_main {
        width: 80%;
        padding: 2rem;
    }

    .cros {
        top: 10px;
        right: 10px;
        border: 2px;
        border-style: solid;
        border-color: #200402;
        padding: 4px 8px;
        border-radius: 5px;

    }

    .warning_message {

        font-size: .8rem;
        margin: .8rem;

    }

    .down {
        padding: .5rem;
        font-size: 1rem;

    }

    .link {
        width: 90%;
        margin: 2rem auto;
        text-align: center;
    }


    .navbar-brand {
        margin-left: .7rem;
    }

    .main_p {
        font-size: 1.3rem !important;
        color: white;
        padding: 1.5rem;
        text-align: left !important;

    }

    .icon {
        width: 60px !important;
    }

    .table_div {
        margin-bottom: 0px;
        margin-top: 50px;
    }



}

;