{% extends 'header.html' %} {% block body_block %}
<div class="maindown">
  {% if sd_url %}
  <div class="title" style="color: white !important">
    <p>{{title}}</p>
  </div>
  <div class="img">
    <img src="{{thumb}}" alt="" />
  </div>
  <div class="length" style="color: white !important">
    <p>Length : {{duration}} Minutes</p>
  </div>
  <div class="table_div">
    <table class="table" style="color: white !important">
      <thead>
        <tr>
          <th scope="col">Quality</th>
          <th scope="col">Size</th>
          <th scope="col">Choose</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>SD</td>
          <td>{{sd_size}} MB</td>
          <td>
            <button type="submit" class="btn btn-primary">
              <a
                style="color: white !important"
                href="{{sd_url}}"
                target="_blank"
                >Download</a
              >
            </button>
          </td>
        </tr>
        {% if hd_link %}
        <tr>
          <td>HD</td>
          <td>{{hd_size}} MB</td>
          <td>
            <button type="submit" class="btn btn-primary">
              <a
                style="color: white !important"
                href="{{hd_link}}"
                target="_blank"
                >Download</a
              >
            </button>
          </td>
        </tr>
        {% endif %}
      </tbody>
    </table>
  </div>
</div>
{% endif %} {% endblock %}
