{% extends 'header.html' %} {% block body_block %}
<div class="maindown">
  {% if url1 %}
  <div class="title" style="color: white !important">
    <p>{{title}}</p>
  </div>
  <div class="img">
    <img src="{{thumb}}" alt="" />
  </div>
  <div class="table_div">
    <table class="table" style="color: white !important">
      <thead>
        <tr>
          <th scope="col">Quality</th>
          <th scope="col">Size</th>
          <th scope="col">Choose</th>
        </tr>
      </thead>
      <tbody>
        {% if url2 %}

        <tr>
          <td>{{quality2}} P</td>
          <td>{{size2}} MB</td>
          <td>
            <button type="submit" class="btn btn-success">
              <a style="color: white !important" href="{{url2}}" target="_blank"
                >Download</a
              >
            </button>
          </td>
        </tr>
        {% endif%}
        <tr>
          <td>{{quality1}} P</td>
          <td>{{size1}} MB</td>
          <td>
            <button type="submit" class="btn btn-success">
              <a style="color: white !important" href="{{url1}}" target="_blank"
                >Download</a
              >
            </button>
          </td>
        </tr>
        {% if url3 %}
        <tr>
          <td>{{quality3}} P</td>
          <td>{{size3}} MB</td>
          <td>
            <button type="submit" class="btn btn-success">
              <a style="color: white !important" href="{{url3}}" target="_blank"
                >Download</a
              >
            </button>
          </td>
        </tr>
        {% endif %}
      </tbody>
    </table>
  </div>
</div>
{% endif %} {% endblock %}
