{% extends 'header.html' %} {% block body_block %}
<div class="maindown">
  {% if title %}
  <div class="title">
    <p>{{title}}</p>
  </div>
  <div class="img">
    <img src="{{thumb}}" alt="" />
  </div>
  <div class="length">
    <p>Length : {{length}}</p>
  </div>
  <div class="table_div">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Quality</th>
          <th scope="col">Size</th>
          <th scope="col">Choose</th>
        </tr>
      </thead>
      <tbody>
        {% if url1 %}
        <tr>
          <td>{{q1}}</td>
          <td>{{size1}} MB</td>
          <td>
            <button type="submit" class="btn btn-success">
              <a style="color: white !important" href="{{url1}}" target="_blank"
                >Download</a
              >
            </button>
          </td>
        </tr>
        {% endif %} {% if url2 %}
        <tr>
          <td>{{q2}}</td>
          <td>{{size2}} MB</td>
          <td>
            <button type="submit" class="btn btn-success">
              <a style="color: white !important" href="{{url2}}" target="_blank"
                >Download</a
              >
            </button>
          </td>
        </tr>
        {% endif %}
      </tbody>
    </table>
  </div>
</div>
{% endif %} {% endblock %}
