{% extends 'header.html' %} 
{% block body_block %}
<div class="maindown">
  {% if qlist %}
  <div class="title"><p>{{title}}</p></div>
  <div class="img">
    <img src="{{thumb}}" alt="" />
  </div>
  <div class="length">
    <p>Length : {{length}}</p>
  </div>
  <div>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Quality</th>
          <th scope="col">Size</th>
          <th scope="col">Choose</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{qlist.0}}</td>
          <td>{{size.0}} MB</td>
          <td> <form action="{%url 'ytf:yvdown' %}" method="POST">  {% csrf_token %} <input type="hidden" name="title" value="{{title}}"> <input type="hidden" name="thumb"  value="{{thumb}}"> <input type="hidden" name="reg" value="{{qlist.0}}"> <input type="hidden" name="link" value="{{llist}}"><button type="submit" class="btn btn-primary">Select</button> </form>  </td>
        </tr>
        {% if qlist.1 %}
        <tr>
            <td>{{qlist.1}}</td>
            <td>{{size.1}} MB</td>
            <td> <form action="{%url 'ytf:yvdown' %}"" method="POST">  {% csrf_token %} <input type="hidden" name="reg" value="{{qlist.1}}"> <input type="hidden" name="title" value="{{title}}"> <input type="hidden" name="thumb"  value="{{thumb}}"> <input type="hidden" name="link" value="{{llist}}"><button type="submit" class="btn btn-primary">Select</button> </form>  </td>
          </tr>
          {% endif %}      
      </tbody>
    </table>
  </div>
</div>
{% endif %} 
{% endblock %}
