{% extends 'header.html' %} {% block body_block %}
<div class="maindown">
  {% if qlist %}
  <div class="title">{{title}}</div>
  <div class="img">
    <img src="{{thumb}}" alt="" />
  </div>
  <div class="length">
    Length : {{length}}
  </div>
  <div>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Quality</th>
          <th scope="col">Size</th>
          <th scope="col">Choose</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{qlist.0}}</td>
          <td>{{size.0}}</td>
          <td> <form action="" method="POST"> <input type="hidden" name="link" value="{{llist.0}}"><button type="submit" class="btn btn-primary">Select</button> </form>  </td>
        </tr>
        {% if qlist.1 %}
        <tr>
            <td>{{qlist.1}}</td>
            <td>{{size.1}}</td>
            <td> <form action="" method="POST"> <input type="hidden" name="link" value="{{llist.1}}"><button type="submit" class="btn btn-primary">Select</button> </form>  </td>
          </tr>
          {% endif %}

          {% if qlist.2 %}
          <tr>
            <td>{{qlist.2}}</td>
            <td>{{size.2}}</td>
            <td> <form action="" method="POST"> <input type="hidden" name="link" value="{{llist.2}}"><button type="submit" class="btn btn-primary">Select</button> </form>  </td>
          </tr>
          {% endif %}

          {% if qlist.3 %}
          <tr>
            <td>{{qlist.3}}</td>
            <td>{{size.3}}</td>
            <td> <form action="" method="POST"> <input type="hidden" name="link" value="{{llist.3}}"><button type="submit" class="btn btn-primary">Select</button> </form>  </td>
          </tr>
          {% endif %}
        
      </tbody>
    </table>
  </div>
</div>
{% endif %} {% endblock %}
