{% extends 'header.html' %} {% block body_block %}
<div class="maindown">
  {% if url %}
  <div class="title ytmaindown">
    <p style="color: white !important">{{title}}</p>
  </div>
  <div class="img">
    <img src="{{thumb}}" alt="" />
  </div>
  <div class="link">
    <a class="down" href="{{url}}" target="_blank">
      Download 128kbps {{size}} MB</a
    >
  </div>
  <div style="margin-top: 1.5rem">
    <p style="color: white !important">
      After Download Remove .mp4 From File Name
    </p>
  </div>
</div>
{% endif %} {% endblock %}
